{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <form method="POST">
    {% csrf_token %}
    <input placeholder="Enter Name" type="text" id="Name" name="task-name">
    <input type="date" id="date" name="task-date">
    <button style="color: rgb(0, 0, 0);"> click me</button>
  </form>
  <div>
    {% for i in item %}
    <p> {{i.taskname}}</p>
    <p> {{i.taskdate}}</p>
    <button style="color: limegreen;"> <a href="{% url 'delete' i.id %}">Delete</a></button>
    <button style="color: limegreen;"> <a href="{% url 'update' i.id %}">update</a></button>
    {% endfor %}
  </div>
</body>

</html>